body {
  background: rgb(5, 156, 203);
  background: linear-gradient(
    90deg,
    rgba(5, 156, 203, 1) 0%,
    rgba(89, 186, 192, 1) 100%
  );
  color: #fff !important;
}

/* CUSTOM SCROLL */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/*COMMON STYLES */

.heading {
  font-size: 34px;
  text-transform: uppercase;
}

/* FORM */

label {
  color: #333 !important;
}

.form-control {
  padding: 8px !important;
  height: auto !important;
}

.customBtn {
  width: 100%;
  background: rgba(5, 156, 203, 1) !important;
}

.customBtn:hover {
  background: rgba(89, 186, 192, 1) !important;
}

.user-form {
  background: #fff;
  padding: 30px;
  margin: 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.error {
  border: 1px solid #e74c3c !important;
}

.error-message {
  color: #e74c3c;
  display: block;
  margin-bottom: 10px;
}
