body {
  background: rgb(5, 156, 203);
  background: linear-gradient(
    90deg,
    rgba(5, 156, 203, 1) 0%,
    rgba(89, 186, 192, 1) 100%
  );
  color: #fff !important;
}

label {
  color: #333 !important;
}

.heading {
  font-size: 34px;
  text-transform: uppercase;
}

.error {
  border: 1px solid red !important;
}
